Repository voxpupuli/beaker-docker, pull requests merged in 2024-03, with the labels that each got.

#125 Implement writing out a containerfile for a host
  bin/beaker-docker
Labels: enhancement

#132 Release 2.2.0
  CHANGELOG.md
  Rakefile
  lib/beaker-docker/version.rb
Labels: skip-changelog

#126 Fix privileged remote docker port forward resolution
  lib/beaker/hypervisor/docker.rb
  spec/beaker/hypervisor/docker_spec.rb
Labels: bug

#133 Release 2.2.1
  CHANGELOG.md
  lib/beaker-docker/version.rb
Labels: skip-changelog
